# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*

# TypeScript incremental build cache
*.tsbuildinfo
